<footer class="bg-gray-200 py-2 px-4 w-full">
  <div class="max-w-7xl mx-auto flex flex-col sm:flex-row items-center justify-between gap-2">
    <div class="flex items-center space-x-2 justify-center">
      <img src="/Blog Logo.png" alt="Blog Posts Logo" class="w-10 h-10 object-contain">
      <span class="text-lg sm:text-xl font-bold">Blog <span class="font-normal">Posts</span></span>
    </div>
    <div class="text-sm text-gray-700 font-medium text-center sm:text-right">
      Copyright &#64;{{ currentYear }} . BlogPost
    </div>
  </div>
</footer>
